{% extends 'layout.html' %}

{% block content %}
        <div class="container">
            <div class="clearfix">
                <a href="/PrettyNum/add/" class="btn btn-primary">新建靓号</a>
                <div style="width: 300px;float: right;">
                    <form action="" method="get">
                        <div class="input-group">
                            <input type="text" name="data" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    靓号列表
                </div>
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>号码</th>
                            <th>价格</th>
                            <th>级别</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in users %}
                        <tr>
                            <th>{{ obj.id }}</th>
                            <td>{{ obj.mobile }}</td>
                            <td>{{ obj.price }}</td>
                            <td>{{ obj.get_level_display }}</td>
                            <td>{{ obj.get_status_display }}</td>
                            <td>
                                <a href="/PrettyNum/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/PrettyNum/{{ obj.id }}/delete/" class="btn btn-danger btn-xs">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&data={{ value }}">上一页</a></li>
                    {% else %}
                    <li class="disabled"><span>上一页</span></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if i == page_obj.number %}
                        <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                        <li><a href="?page={{ i }}&data={{ value }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}&data={{ value }}">下一页</a></li>
                    {% else %}
                    <li class="disabled"><span>下一页</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
{% endblock %}